/* GLOBAL */
* {
    font-family: 'Hind', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */
header {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-brand i {
    color: green;
}

.navbar-brand span {
    font-size: 30px;
}

.menu .nav-link {
    color: #1a1d2d;
    /* color: #1a1d2d; */
    /* border: 1px solid #1a1d2d; */
    margin: 0 5px;
}

.navbar-dark 
.navbar-nav 
.nav-link {
    color: #fff;
    transition: all .5s;
}

#collapsibleNavbar .nav-item .nav-link:hover{
    color: #35a22c;
}

.menu li {
    margin: 0 10px;
}

.menu li::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: #35a22c;
    display: block;
    transition: all .5s;
}

.menu li.active::after {
    width: 100%;
}

.menu li:hover::after {
    width: 100%;
}


@media screen and (max-width: 992px){
    header .navbar-collapse {
        background-color: white;
        width: 100%;
    }
    
    #collapsibleNavbar .nav-item .nav-link{
        color: #35a22c;
    }
    #collapsibleNavbar .nav-item .nav-link:hover{
        color: #fff;
        background-color: #35a22c;
    }
    .menu li:hover:after{
        width: 0;
    }

    .menu li.active::after {
        width: 0;
    }
}

@media (min-width: 768px){
.navbar-expand-md .navbar-collapse {
    /* display: -ms-flexbox!important; */
    display: flex!important;
    /* -ms-flex-preferred-size: auto; */
    flex-basis: auto;
    background-color: transparent;
    
}
}
@media screen and (max-width: 376px) {
    header .navbar-brand i {
        font-size:8vw
    }

    header .navbar-brand {
        font-size: 7vw
    }
}

header .navbar-toggler {
    background-color: #35a22c;
}
/* CAROUSEL  */
.carousel-item {
    background-position: center;
    background-size: cover;
    height: 700px;
}

.overlay {
    background: rgba(39,43,54,.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0
}

.carousel-item h5 {
    font-size: 56px;
    line-height: 65px;
}

.carousel-item p {
    font-size: 24px;
}

.carousel-indicators{
    bottom: 10%;
}

.carousel-indicators li{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: none;
    /* background-color: grey; */
    /* color: #35a22c; */
}

.carousel-indicators li.active{
    background-color: #35a22c;
}

.carousel-item:nth-child(1) {
    background-image: url(../images/finland.jpg);

}

.carousel-item:nth-child(2) {
    background-image: url(../images/mountains.jpg);
}

.carousel-item:nth-child(3) {
    background-image: url(../images/mountains-1.jpg);
}

@media screen and (max-height: 415px) {
    .carousel-caption img {
        width:100px
    }

    .carousel .carousel-caption h5 {
        font-size: 5vw;
        line-height: 5vw
    }

    .carousel .carousel-caption p {
        font-size: 3vw
    }

    .carousel-caption {
        padding-top: 0
    }
}

@media screen and (max-width: 320px) {
    .carousel__thumb {
        width:120px
    }

    .carousel-caption img {
        width: 120px
    }

    .carousel .carousel-caption h5 {
        font-size: 10vw;
        line-height: 10vw
    }

    .carousel .carousel-caption p {
        font-size: 5vw
    }

    .carousel-caption {
        padding-top: 0
    }
}

.carousel-thumb img {
    width: 140px;
    border-radius: 50%;
    margin: auto;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
}

/* PROJECT */
#project {
    padding: 48px 0;
}

#project .title {
    /* padding-top: 48px 0 20px 0; */
    max-width: 750px;
}

/* NAVBAR  */
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: green;
    color: white;
}

.project__content .nav-link {
    color: #1a1d2d;
    border: 1px solid #1a1d2d;
    margin: 0 5px;

}

@media screen and (max-width: 575.98px) {
    .project__content .nav .nav-link {
        padding:.5rem
    }

    .bg-overlay {
        background-position: right top
    }
}

@media screen and (max-width: 415px) {
    .project__content .nav .nav-item {
        margin-bottom:1rem
    }
}

/* CARD */
.card-title {
    font-size: 1.2rem;
}

.card {
    margin-top: 30px;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 0.4rem rgb(0 0 0 / 13%);
    border: none;
    cursor: pointer;
}

.card .card-body{
    border: 1px solid transparent;
    transition: all .5s;
}

.card:hover .card-body {
    border-color: #35a22c;
    border-radius: 0 0 1rem 1rem;
    border-top-color: transparent;
    
}

.card h4:hover {
    color: #35a22c
}


@media screen and (max-width: 575.98px) {
    .project__content .nav .nav-link {
        padding:.5rem
    }

    .bg-overlay {
        background-position: right top
    }
}

@media screen and (max-width: 415px) {
    .project__content .nav .nav-item {
        margin-bottom:1rem
    }
}


/* SERVICE  */
#service {
    background: url(../images/3.jpg) no-repeat center;
    background-size: cover;
    padding: 100px 0 120px;
    background-attachment: fixed;
    position: relative;
}

#service .overlay {
    background: rgba(7,10,12,.72);
}

#service .title {
    position: relative;
}
.title {
    max-width: 750px;
}
.text-center {
    text-align: center!important;
}
.ml-auto, .mx-auto {
    margin-left: auto!important;
}
.mr-auto, .mx-auto {
    margin-right: auto!important;
}

.title h2 {
    font-size: 36px;
    line-height: 42px;
    color: #1a1d2d;
    font-weight: 600;
}
.text-white {
    color: #fff!important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.service__item {
    padding: 40px 40px;
    transition: .3s;
    border-radius: 10px;
    background: rgba(255,255,255,.1);
    border: 1px solid rgba(255,255,255,.1);
    backdrop-filter: blur(3px);
    transition: all .5s
}

.service__item i {
    font-size: 48px;
    color: #35a22c
}

.service__item h4 {
    font-size: 20px;
    color: #fff;
    line-height: 30px;
    padding-top: 25px;
    font-weight: 800
}

.service__item p {
    padding-top: 15px;
    font-size: 16px;
    line-height: 24px;
    color: #fff
}

.service__item:hover {
    background: #000;
    border-color: #fff
}
/* AWARD  */

.award {
    position: relative;
    color: #585858;
    padding: 70px 0
}

.award__bg {
    background-image: url(../images/memphis_3.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 50% auto;
    opacity: .5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.award__left {
    background: rgba(255,255,255,.25);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,.18);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 30px 0 rgba(0,0,0,.3);
    padding: 45px
}

.heading h2 {
    font-size: 36px;
    line-height: 42px;
    color: #1a1d2d;
    font-weight: 600;
}
.award__right {
    padding: 45px 0
}

@media screen and (max-width: 575.98px) {
    .award__bg {
        background-size:cover
    }
}
/* FOOTER  */
footer {
    background: #222
}

footer a {
    color: #aaa
}

footer p {
    color: #aaa;
    margin: 0
}

footer a:hover {
    text-decoration: none;
    color: #35a22c
}

.footer__main i {
    width: 42px;
    height: 42px;
    line-height: 42px;
    border-radius: 50%;
    border: 1px solid #454545;
    transition: all .5s
}

.footer__main a {
    margin-right: 10px
}

.footer__main a:last-child {
    margin-right: 0
}

.footer__copies {
    border-top: 1px solid #454545;
    padding-top: 30px;
    margin-top: 30px
}

.footer__main i:hover {
    border-color: #35a22c
}

@keyframes progress {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}